<br>this is <%=@gift.name%>'s (gift) show page</br>

<label>Gift:</label><%= @gift.name %></br>
<label>Giver:</label><%= @gift.giver %></br>
<label>Category:</label><%= @gift.category %></br>
<label>Description:</label><%= @gift.description %></br>
