<br><h2><%=@gift.name.upcase%></h2></br>

<label><b>Gift: </b></label><%= @gift.name %></br>
<label><b>Giver: </b></label><%= @gift.giver %></br>
<label><b>Category: </b></label><%= @gift.category %></br>
<label><b>Description: </b></label><%= @gift.description %></br>

<br><br><h3>Gift Options:</h3></br>
<a href="/gifts/<%=@gift.id%>/edit">Edit this Gift</a> |
<a href="/gifts">Go To All Gifts</a> |
<a href="/occasions/<%=@gift.occasion_id%>">Go To <%=@gift.occasion.title%></a> <br>

  <br>OR<br><br>

<form action="/gifts/<%= @gift.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" name="" value="Delete This Gift">
</form>
