<br>this is <%=@gift.name%>'s (gift) show page</br>

<label>Gift:</label><%= @gift.name %></br>
<label>Giver:</label><%= @gift.giver %></br>
<label>Category:</label><%= @gift.category %></br>
<label>Description:</label><%= @gift.description %></br>


<br><a href="/gifts/<%=@gift.id%>/edit">Edit this Gift</a></br>

<h4> or </h4><br>

<form action="/gift/<%= @gift.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" name="" value="Delete This Gift">
</form>


<br><a href="/occasions/<%=@gift.occasion_id%>">Back to <%=@gift.occasion.title%></a> or <a href="/occasions">Back to All Occasions</a>
