

<br><h2>Occasion: <%=@occasion.title%></h2>


<% if current_user == @occasion.user %>

  <% @occasion_gifts.each do |gift| %>
    <li><a href="/gifts/<%=gift.id%>"><%=gift.name%></a></li>
  <%end%>


<br><br><h3>Occasion Options:</h3></br>
  <a href="/gifts/new">Add a new gift</a> | <a href="/occasions/<%=@occasion.id%>/edit">Edit this Occasion's Title</a> | <a href="/occasions">Back to All Occasions</a><br>

  <br>OR<br><br>

  <form action="/occasions/<%= @occasion.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" name="" value="Delete This Occasion">
  </form>

<%end%>

</br>
